<%= render 'books/error', book:@book %>
      	<div class="row">
  <div class="col-xs-3">
         <h2>User info</h2>
    <%= attachment_image_tag @books.user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg"%>
    <table class="table">
      <tbody>
      <tr>
        <th>name</th>
        <th><%= @books.user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= @books.user.introduction %></th>
      </tr>
</tbody>
</table>

<div class="row">
<%= link_to  "", edit_user_path(@books.user), class:"col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_16704" %>
</div>

<%= render 'books/list', book:@book %>
</div>

  <div class="col-xs-9">
		<h2>Book detail</h2>
		<table class="table">
		  <tbody>
		  	<tr>
        <td>
        	<%= link_to user_path(@books.user) do %>
            <%= attachment_image_tag @books.user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", size: '100x100'%>
            <% end %>
            <br><%= link_to @books.user.name,user_path(@books.user) %>
      </td>
        <td>
        	<%= link_to @books.title, book_path(@books.id) %>
        </td>
        <td><%= @books.body %></td>
        <% if @books.user_id == current_user.id %>
        <td>
        	<%= link_to 'Edit', edit_book_path(@books.id), class:"btn-sm btn-success" %>
        </td>
        <td>
          <%= link_to 'Destroy', book_path(@books.id), method: :delete, data: {confirm: "Are you sure?"}, class:"btn-sm btn-danger"%>
        </td>
        <% end %>

      </tr>
    </tbody>
  </table>

  </div>
</div>
